body{
    background-image: url("fotos/Background");
}

footer{
    background-color: #212529;
    color: gray;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 2%;
}

.footer-style{
    text-decoration: none;
    transition: .9s;
    color: gray;
}

.footer-style:hover{
    text-decoration: none;
    transition: .9s;
    color: purple;
}

.card-style{
    background-color: #56268fa6;
}

.card-style2{
    background-color: #56268fa6;
    height: 80%;
    width: 80%;
}

.card-sobremim{
    background-color: #56268fa6;
    height: 80%;
    width: 62%;
}

.mt-n1 {
    margin-top: -1.5rem !important;
}